COM/Web References/WebService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/OraWebService/Service1" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/OraWebService/Service1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/OraWebService/Service1">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ora_Select">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StrQty" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ora_SelectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Ora_SelectResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ora_MSelect">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StrTN" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="StrQty" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Ora_MSelectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Ora_MSelectResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ora_Modify">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StrSql" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ora_ModifyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Ora_ModifyResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ora_Procedure">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Proc_Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Para_Name" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="Para_Value" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ora_ProcedureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Ora_ProcedureResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ora_Proc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Proc_Name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ora_ProcResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Ora_ProcResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="Ora_SelectSoapIn">
    <wsdl:part name="parameters" element="tns:Ora_Select" />
  </wsdl:message>
  <wsdl:message name="Ora_SelectSoapOut">
    <wsdl:part name="parameters" element="tns:Ora_SelectResponse" />
  </wsdl:message>
  <wsdl:message name="Ora_MSelectSoapIn">
    <wsdl:part name="parameters" element="tns:Ora_MSelect" />
  </wsdl:message>
  <wsdl:message name="Ora_MSelectSoapOut">
    <wsdl:part name="parameters" element="tns:Ora_MSelectResponse" />
  </wsdl:message>
  <wsdl:message name="Ora_ModifySoapIn">
    <wsdl:part name="parameters" element="tns:Ora_Modify" />
  </wsdl:message>
  <wsdl:message name="Ora_ModifySoapOut">
    <wsdl:part name="parameters" element="tns:Ora_ModifyResponse" />
  </wsdl:message>
  <wsdl:message name="Ora_ProcedureSoapIn">
    <wsdl:part name="parameters" element="tns:Ora_Procedure" />
  </wsdl:message>
  <wsdl:message name="Ora_ProcedureSoapOut">
    <wsdl:part name="parameters" element="tns:Ora_ProcedureResponse" />
  </wsdl:message>
  <wsdl:message name="Ora_ProcSoapIn">
    <wsdl:part name="parameters" element="tns:Ora_Proc" />
  </wsdl:message>
  <wsdl:message name="Ora_ProcSoapOut">
    <wsdl:part name="parameters" element="tns:Ora_ProcResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ora_Select">
      <wsdl:input message="tns:Ora_SelectSoapIn" />
      <wsdl:output message="tns:Ora_SelectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ora_MSelect">
      <wsdl:input message="tns:Ora_MSelectSoapIn" />
      <wsdl:output message="tns:Ora_MSelectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ora_Modify">
      <wsdl:input message="tns:Ora_ModifySoapIn" />
      <wsdl:output message="tns:Ora_ModifySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ora_Procedure">
      <wsdl:input message="tns:Ora_ProcedureSoapIn" />
      <wsdl:output message="tns:Ora_ProcedureSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ora_Proc">
      <wsdl:input message="tns:Ora_ProcSoapIn" />
      <wsdl:output message="tns:Ora_ProcSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/OraWebService/Service1/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ora_Select">
      <soap:operation soapAction="http://tempuri.org/OraWebService/Service1/Ora_Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ora_MSelect">
      <soap:operation soapAction="http://tempuri.org/OraWebService/Service1/Ora_MSelect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ora_Modify">
      <soap:operation soapAction="http://tempuri.org/OraWebService/Service1/Ora_Modify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ora_Procedure">
      <soap:operation soapAction="http://tempuri.org/OraWebService/Service1/Ora_Procedure" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ora_Proc">
      <soap:operation soapAction="http://tempuri.org/OraWebService/Service1/Ora_Proc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://203.228.108.8/OraWebService/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>