COM/Web References/CSI_WebService/CSI_WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/CSI_WebService/Service1" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/CSI_WebService/Service1" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/CSI_WebService/Service1">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Oracle_Select_Procedure">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Process_Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Parameter_Name" type="s0:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="Parameter_Type" type="s0:ArrayOfInt" />
            <s:element minOccurs="0" maxOccurs="1" name="Parameter_Value" type="s0:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Oracle_Select_ProcedureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Oracle_Select_ProcedureResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Oracle_Run_Procedure">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Process_Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Parameter_Name" type="s0:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="Parameter_Type" type="s0:ArrayOfInt" />
            <s:element minOccurs="0" maxOccurs="1" name="Parameter_Value" type="s0:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Oracle_Run_ProcedureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Oracle_Run_ProcedureResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Oracle_Run_Matrix_Procedure">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Process_Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Parameter_Name" type="s0:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="Parameter_Type" type="s0:ArrayOfInt" />
            <s:element minOccurs="0" maxOccurs="1" name="Parameter_Matrix" type="s0:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Oracle_Run_Matrix_ProcedureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Oracle_Run_Matrix_ProcedureResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ora_Procedure2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Proc_Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Para_Name" type="s0:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="Para_Value" type="s0:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ora_Procedure2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Ora_Procedure2Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Oracle_Direct_Select_Procedure">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StrQty" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Oracle_Direct_Select_ProcedureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Oracle_Direct_Select_ProcedureResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="HelloWorldSoapIn">
    <part name="parameters" element="s0:HelloWorld" />
  </message>
  <message name="HelloWorldSoapOut">
    <part name="parameters" element="s0:HelloWorldResponse" />
  </message>
  <message name="Oracle_Select_ProcedureSoapIn">
    <part name="parameters" element="s0:Oracle_Select_Procedure" />
  </message>
  <message name="Oracle_Select_ProcedureSoapOut">
    <part name="parameters" element="s0:Oracle_Select_ProcedureResponse" />
  </message>
  <message name="Oracle_Run_ProcedureSoapIn">
    <part name="parameters" element="s0:Oracle_Run_Procedure" />
  </message>
  <message name="Oracle_Run_ProcedureSoapOut">
    <part name="parameters" element="s0:Oracle_Run_ProcedureResponse" />
  </message>
  <message name="Oracle_Run_Matrix_ProcedureSoapIn">
    <part name="parameters" element="s0:Oracle_Run_Matrix_Procedure" />
  </message>
  <message name="Oracle_Run_Matrix_ProcedureSoapOut">
    <part name="parameters" element="s0:Oracle_Run_Matrix_ProcedureResponse" />
  </message>
  <message name="Ora_Procedure2SoapIn">
    <part name="parameters" element="s0:Ora_Procedure2" />
  </message>
  <message name="Ora_Procedure2SoapOut">
    <part name="parameters" element="s0:Ora_Procedure2Response" />
  </message>
  <message name="Oracle_Direct_Select_ProcedureSoapIn">
    <part name="parameters" element="s0:Oracle_Direct_Select_Procedure" />
  </message>
  <message name="Oracle_Direct_Select_ProcedureSoapOut">
    <part name="parameters" element="s0:Oracle_Direct_Select_ProcedureResponse" />
  </message>
  <portType name="Service1Soap">
    <operation name="HelloWorld">
      <input message="s0:HelloWorldSoapIn" />
      <output message="s0:HelloWorldSoapOut" />
    </operation>
    <operation name="Oracle_Select_Procedure">
      <documentation>Oracle Ref Cursor Package Call</documentation>
      <input message="s0:Oracle_Select_ProcedureSoapIn" />
      <output message="s0:Oracle_Select_ProcedureSoapOut" />
    </operation>
    <operation name="Oracle_Run_Procedure">
      <documentation>Oracle Runing Package Call</documentation>
      <input message="s0:Oracle_Run_ProcedureSoapIn" />
      <output message="s0:Oracle_Run_ProcedureSoapOut" />
    </operation>
    <operation name="Oracle_Run_Matrix_Procedure">
      <documentation>Oracle Runing Matrix Package Call</documentation>
      <input message="s0:Oracle_Run_Matrix_ProcedureSoapIn" />
      <output message="s0:Oracle_Run_Matrix_ProcedureSoapOut" />
    </operation>
    <operation name="Ora_Procedure2">
      <documentation>오라클 DataBase 접속___</documentation>
      <input message="s0:Ora_Procedure2SoapIn" />
      <output message="s0:Ora_Procedure2SoapOut" />
    </operation>
    <operation name="Oracle_Direct_Select_Procedure">
      <documentation>오라클에 바로 쿼리 넘겨서 실행</documentation>
      <input message="s0:Oracle_Direct_Select_ProcedureSoapIn" />
      <output message="s0:Oracle_Direct_Select_ProcedureSoapOut" />
    </operation>
  </portType>
  <binding name="Service1Soap" type="s0:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/CSI_WebService/Service1/HelloWorld" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Oracle_Select_Procedure">
      <soap:operation soapAction="http://tempuri.org/CSI_WebService/Service1/Oracle_Select_Procedure" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Oracle_Run_Procedure">
      <soap:operation soapAction="http://tempuri.org/CSI_WebService/Service1/Oracle_Run_Procedure" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Oracle_Run_Matrix_Procedure">
      <soap:operation soapAction="http://tempuri.org/CSI_WebService/Service1/Oracle_Run_Matrix_Procedure" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Ora_Procedure2">
      <soap:operation soapAction="http://tempuri.org/CSI_WebService/Service1/Ora_Procedure2" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Oracle_Direct_Select_Procedure">
      <soap:operation soapAction="http://tempuri.org/CSI_WebService/Service1/Oracle_Direct_Select_Procedure" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Service1">
    <port name="Service1Soap" binding="s0:Service1Soap">
      <soap:address location="http://localhost/CSI_WebService/CSI_WebService.asmx" />
    </port>
  </service>
</definitions>